/*Section*/

body{
    margin: none;
    background-color: #1F1F1F;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}

footer{
    height:200px;
    display:flex;
    padding:30px;
}

section{
    background-color:#252525;
    margin-bottom:50px;
    padding:30px;
}

header{
    height:640px;
}

/*Elements*/

p{
    color:white;
    font-size: 22px;
}

a{
    text-decoration: underline;
}
a:hover{
    cursor:pointer;
    text-decoration: none;
}

/*ID*/

#navbar{
    float: right;
    color: white;
    margin-top:50px;
}
#navbar > a{
    margin:40px;
    font-size:24px;
    text-underline-offset:10px;
    font-weight:600;
}
#navbar > a:hover{
    cursor:pointer;

}

#banner{
    height:137px;
}

#shapes{
    z-index:-1;
    float:right;
    height:5vh;
    margin-top:20px;
    margin-right:30px;
    position:relative;
}

#headingtext{
    font-size: 4.5vw;
    position:static;
    margin: 40px;
    margin-top: 100px;
    font-weight: 800;
    margin-left:10%;
}

/*Classes*/

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.box{
    background-color: #303030;
    border: 3px solid #0cead9;
    border-radius:20px;
    width:80%;
    padding:30px;
}

.Arvo{
    font-family: "Arvo", serif;
    font-style: normal;
}

.Roboto{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.Bold{
    font-weight:700
}

.pHeader{
    margin-left:40px;
}
.pHeader > p{
    font-size:40px;
}
.pHeader > hr{
    background-color:#ffffff;
    float: left;
    margin-top:-35px;
    height: 3px;
    width: 230px;

    position: absolute;
}

.pText{
    padding:20px;
    border: 3px solid #8A64D6;
    border-radius:14px;
    display:flex;
    width:60%;
    text-align: left;
    box-shadow: 0px 14px 4px rgba(0, 0, 0, 0.25);
}
.pText > img{
    object-fit: cover;
    width:185px;
    height: 232px;
    border-radius: 100px;
    box-shadow: 0px 14px 4px rgba(0, 0, 0, 0.25);
    float:right;
    margin:10px;
}

/*Media Queries*/

@media screen and (max-width: 480px) {
    #navbar{
        display:none;
    }
    #banner{
        height: 90px;
    }
  }