.diamond .num{
    color: #43AAFF;
    -webkit-text-stroke: 2px #4D4D4D;
}

.silver .num{
    color: #FFFFFF;
    -webkit-text-stroke: 2px #4D4D4D;
}

.discountNum{
    text-decoration: line-through;
    text-decoration-thickness: 3px;

    font-size:20px;
    position: absolute;
    right:1em;
}

.silver .discountNum{
    text-decoration-color: #FFFFFF;
}

.diamond .discountNum{
    text-decoration-color: #43AAFF;
}